<h2>Dashboard</h2>
<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pedidos Totales</h5>
        <p class="card-text">{{totalOrders}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pedidos Hoy</h5>
        <p class="card-text">{{todayOrders}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comercios Activos</h5>
        <p class="card-text">{{activeCommerces}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comercios Inactivos</h5>
        <p class="card-text">{{inactiveCommerces}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Clientes Activos</h5>
        <p class="card-text">{{activeClients}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Clientes Inactivos</h5>
        <p class="card-text">{{inactiveClients}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Deliveries Activos</h5>
        <p class="card-text">{{activeDeliveries}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Deliveries Inactivos</h5>
        <p class="card-text">{{inactiveDeliveries}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Productos Creados</h5>
        <p class="card-text">{{totalProducts}}</p>
      </div>
    </div>
  </div>
</div>