<h2>Mantenimiento de Productos</h2>
<a href="/commerce/product/new" class="btn btn-primary mb-3">Nuevo Producto</a>
<table class="table">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{#if this.photo}}<img src="/uploads/{{this.photo}}" alt="{{this.name}}" style="width: 50px; height: 50px; object-fit: cover;">{{/if}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.Category.name}}</td>
        <td>RD$ {{this.price}}</td>
        <td>
          <a href="/commerce/product/edit/{{this.id}}" class="btn btn-sm btn-primary">Editar</a>
          <a href="/commerce/product/delete/{{this.id}}" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>