<div class="row justify-content-center">
  <div class="col-md-8">
    <h2>Bienvenido, {{deliveryProfile.firstName}} {{deliveryProfile.lastName}}</h2>
    <p>Teléfono: {{deliveryProfile.phone}}</p>
    
    <h3>Comercios Disponibles</h3>
    {{#if commerces}}
      <ul>
        {{#each commerces}}
          <li>{{this.name}} ({{this.CommerceType.name}})</li>
        {{/each}}
      </ul>
    {{else}}
      <p>No hay comercios disponibles.</p>
    {{/if}}
    
    <h3>Tus Pedidos</h3>
    {{#if orders}}
      <ul>
        {{#each orders}}
          <li>
            Pedido #{{this.id}} de {{this.Commerce.name}}
            <ul>
              {{#each OrderProducts}}
                <li>{{this.Product.name}}</li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No tienes pedidos asignados.</p>
    {{/if}}
  </div>
</div>